* {
  box-sizing: border-box;
}

header {
  margin:0 450px;
  /* display: -webkit-flex */
}

#main-title {
  font-family: 'Bitter', serif;
  font-weight: lighter;
  text-align: center;


}
a {
  text-decoration: none;
  color: rgb(14, 13, 13);
  margin: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin: 0 10px; /* 왼쪽과 오른쪽 간격을 10px씩 띄움 */
}


#menu-1 {
  font-family: "Noto Sans KR", sans-serif;
}

#menu-2 {
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(12, 12, 12);
}

main {
  border: 1px red solid;
  margin-top: 30px;
}

#small-title {
  text-align: center;
}

img {
  width: 370px;
  height: 300px;
  margin: 50px;
}

.img-1{
  float: left;
} 

.img-2 {
  float: left;
}

.img-3 {
  float: left;
 }

.img-4 {
  float: left;
}
