* {
  box-sizing: border-box;
}

header {
  margin:0 450px;
  display: -webkit-flex
}

#main-title {
  font-family: 'Bitter', serif;
  font-weight: lighter;
  text-align: center;


}
a {
  text-decoration: none;
  color: rgb(122, 121, 121);
  margin: 25px;
}


#menu-1 {
  font-family: "Noto Sans KR", sans-serif;
  /* position: relative;
  width: 500px; */

}

#menu-2 {
  font-family: "Noto Sans KR", sans-serif;
  text-align: right;
  /* position: relative;
  left: 400px; */
  color: rgb(122, 121, 121);
}

main {
  border: 1px red solid;
}

img {
  width: 370px;
  height: 300px;
  margin: 50px;
}

.img-1{
  float: left;
} 

.img-2 {
  float: left;
}

.img-3 {
  float: left;
 }

.img-4 {
  float: left;
}
